.app {
  position: relative; }

.container {
  margin: 0; }

.container__title {
  margin-top: 90px;
  font-family: 'Dancing Script';
  text-align: center;
  font-size: 6rem;
  color: #e0683c;
  padding: 0; }

.container-flex {
  margin: 0;
  position: relative;
  display: flex;
  flex-wrap: nowrap; }

.none {
  flex: 1; }

.container__change-password {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: #5e5d5d solid 0.2px;
  border-radius: 20px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: #ffecb3; }

.container__password {
  display: flex;
  width: 500px;
  height: auto;
  border: none;
  font-size: 1.8rem;
  margin-top: 40px; }

.container__password-card {
  display: inline-block;
  width: 250px;
  height: auto;
  font-weight: bold;
  color: #514e4e;
  margin-left: 20px;
  margin-top: 10px; }

.container__password-input {
  flex: 1;
  padding: 10px;
  height: 40px;
  padding: 2px 10px;
  margin: 0 20px;
  border: #5a5959 solid 0.5px;
  border-radius: 20px; }

.forgot-password {
  margin: 20px;
  text-align: center !important;
  color: #226592;
  font-size: 1.6rem;
  text-decoration: none;
  cursor: pointer; }

.save {
  line-height: 1.5;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  touch-action: manipulation;
  height: 32px;
  width: 120px;
  padding: 0 15px;
  margin-bottom: 25px;
  font-size: 1.6rem;
  border-radius: 25px;
  color: #ffffff;
  background-color: #0b4370;
  border-color: transparent; }

.save:hover {
  color: #ffffff;
  background-color: #615c5c;
  border-color: #BBB; }

.error-message {
  color: red;
  font-size: 14px;
  text-align: left;
  margin: 10px 5%; }
