.app {
  position: relative; }

.header {
  position: relative !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #8be4ff;
  box-shadow: 0 2x 0 rgba(0, 0, 0, 0.15); }

.header__navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 100%; }

.header__navbar-left {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  flex: 0.7; }

.header__navbar-list {
  /* display: flex; */
  list-style: none;
  padding-left: 0;
  margin-top: 15px;
  position: relative;
  flex-wrap: nowrap; }

.header__navbar-item:hover,
.header__navbar-help:hover,
.header__navbar-name:hover,
.header__navbar-logout:hover {
  color: #706b6b;
  /* cursor: pointer; */ }

.header__navbar-item,
.header__navbar-help,
.header__navbar-name,
.header__navbar-logout {
  display: inline-block;
  font-size: 1.8rem;
  color: #333;
  text-decoration: none !important;
  font-weight: 300;
  margin: 3px 10px;
  position: relative;
  white-space: nowrap; }

.separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #333;
  height: 40px;
  right: -15px;
  top: 0;
  transform: translateY(-30%); }

.header__navbar-logo {
  transform: scale(0.9);
  position: absolute;
  top: 0;
  left: 10px;
  width: 80%;
  height: 100%; }

.header__navbar-search {
  display: flex;
  flex: 0.8;
  margin-top: 9px;
  margin-left: 10px;
  height: 40px;
  background-color: #fff;
  border: 5px solid #fff;
  border-radius: 10px; }

.header__navbar-input {
  flex: 1;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.6rem;
  color: black;
  padding: 0 5px; }

.icon {
  transform: scale(4);
  margin-right: 5px;
  margin-top: 8px; }

.button {
  position: relative;
  display: inline-block;
  border: none;
  background-color: transparent !important;
  cursor: pointer;
  padding: 0; }

.icon:hover {
  color: #706b6b; }

.container {
  position: absolute;
  margin: 180px 50px 200px 0px;
  padding: 50px 60px 40px 60px;
  background: #FFFFFF;
  border-radius: 20px;
  min-height: 300px;
  width: 100%;
  height: auto;
  z-index: 1; }

.container__schedule {
  margin: 0;
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  border: #DDD solid 1px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff; }

.schedule__header:first-child {
  border: none; }

.schedule__header {
  border: #DDD solid 1px;
  border-bottom: 0;
  border-right: 0;
  border-top: 0;
  flex: 1;
  text-align: center;
  padding: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  overflow: hidden;
  background-color: #f3efef; }

.schedule__row {
  display: flex;
  overflow: hidden;
  flex-direction: row; }

.shedule__row-element {
  border: #DDD solid 1px;
  border-bottom: 0;
  border-right: 0;
  flex: 1;
  width: 100%;
  height: 70px;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none; }

.shedule__row-element-input {
  background-color: #fff;
  border: none;
  margin-top: 25px;
  padding: 0px;
  text-align: center;
  align-items: center;
  position: relative;
  font-size: 1.8rem;
  overflow: hidden;
  width: 100%; }

.shift {
  font-weight: bold;
  border: #DDD solid 1px;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  text-align: center;
  font-size: 1.6rem;
  padding-top: 25px; }
