.app{
    position: relative;
}
.header{
    position: relative !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px ;
    background-color: #8be4ff;
    box-shadow: 0 2x 0 rgba(0, 0, 0, 0.15);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100%;
}

.header__navbar-left{
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    flex: 0.7;
}

.header__navbar-list{
    /* display: flex; */
    list-style: none;
    padding-left: 0;
    margin-top: 15px;
    position: relative;
    flex-wrap: nowrap;
}

.header__navbar-item:hover,
.header__navbar-help:hover,
/* .header__navbar-link:hover, */
.header__navbar-name:hover,
.header__navbar-logout:hover{
    color: #706b6b;
    /* cursor: pointer; */
}

.header__navbar-item,
.header__navbar-help,
/* .header__navbar-link, */
.header__navbar-name,
.header__navbar-logout{
    display: inline-block;
    font-size: 1.8rem;
    color:#333 ;
    text-decoration: none !important;
    font-weight: 300;
    margin: 3px 10px;
    position: relative;
    white-space: nowrap;

    
}


.separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #333;
    height: 40px;
    right: -15px;
    top: 0;
    transform: translateY(-30%);
}

.header__navbar-logo{
    transform: scale(0.9);
    position: absolute;
    top: 0;
    left: 10px;
    width: 80%;
    height: 100%;
    
    
    
}

.header__navbar-search{
    display: flex;
    flex: 0.8;
    margin-top: 9px;
    margin-left: 10px;
    height: 40px;
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 10px;
}
.header__navbar-input{
    flex: 1;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: black;
    padding: 0 5px;
}
.icon{
    transform: scale(4);
    margin-right: 5px;
    margin-top: 8px;
}
.button{

    position: relative;
    display: inline-block;
    border: none;
    background-color: transparent !important;
    cursor: pointer;
    padding: 0;
}
.icon:hover{
    color: #706b6b;
}






.container{
    margin-top: 70px;
    

}

.container__title {
    font-family:'Lugrasimo';
    text-align: center;
    font-size: 4rem;
    color: rgb(224, 104, 60);
    padding: 10px 0;
}

ul{
    display: flex;
    padding: 0;
    margin: 50px 0;
    justify-self: space-between;
}
.li{
    margin: 0;
    margin-top: 50px;
}


.container__user-infor {
    /* max-width: 400px; */
    margin: 0;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container__user-infor-field{
    display: flex;
    width: 500px;
    height: auto;
    border: none;
    font-size: 1.8rem;
    margin-bottom: 40px;
}
  
.container__user-infor-field-name {
    display: inline-block;
    width: 150px;
    font-weight: bold;
    margin-left: 100px;
    
}
  
.container__user-infor-field-input {
    background-color: transparent;
    width: 280px;
    height: auto;
    padding: 0 10px;
    border: none;
    white-space: normal;
    /* word-wrap: break-word; */
    /* overflow-wrap: break-word; */
}

.avatar {
    width: 300px;
    height: 300px;
    display: block;
    border-radius: 20px;
  }
