<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dang Nhap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/dang-nhap.css">
</head>

<body>

    <div class="backgr">
        <div class="logo1">
            Quản lý lịch trình học dễ dàng cùng
        </div>
        <div class="logo2">Gakusei</div>
        <h2 class="logo3">Đăng nhập để xem thời khóa biểu của bạn</h2>
        <div class="loginbox">
            <form>
                <div class="log_row">
                    <label for="account" class="log_infor" title="Tên tài khoản" style="font-size: 18px;">
                        Tên đăng nhập:
                    </label>
                    <input type="text" class="log_input" name="username" required placeholder="Tên đăng nhập">
                </div>
                <div class="log_row">
                    <label for="password" class="log_infor" title="Mật khẩu" style="font-size: 18px;">
                        Mật khẩu:
                    </label>
                    <input type="password" class="log_input" name="password" required placeholder="Mật khẩu">
                </div>

                <a href="Developing.html" class="forgot-password"> Quên mật khẩu?</a>
                <input type="submit" class="login" value="Đăng nhập">

            </form>

        </div>
    </div>
    <script src="script.js">  </script>
</body>

</html>