<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/trang-chu.css">
    <link rel="stylesheet" href="/fontawesome-free-6.4.0-web/css/all.min.css">
    <title>Gakusei</title>
</head>

<body>
    <div class="app">
        <header class="header">
            <nav class="header__navbar">
                <div class="header__navbar-left">
                    <a href="/">
                        <button type="submit" class="button" style="width: 60px;">
                            <img src="/img/Logo.png" class="header__navbar-logo">
                        </button>
                    </a>

                    <div class="header__navbar-search">
                        <input type="text" class="header__navbar-input" placeholder="Tìm kiếm thông tin môn học">
                        <button type="submit" class="button" style="background-color: #fff;">
                            <i class="fa-solid fa-magnifying-glass icon"></i>
                        </button>
                    </div>
                </div>
                <ul class="header__navbar-list">
                    <li class="header__navbar-item">
                        <button type="button" class="button">
                            <div class="header__navbar-help separate">
                                <i class="fa-regular fa-circle-question"></i> Trợ giúp
                            </div>
                        </button>
                    </li>
                    <li class="header__navbar-item separate">
                        <a href="trang-ca-nhan">
                            <button type="button" class="button">
                                <div class="header__navbar-name" style="margin: 0;">
                                    <i class="fa-solid fa-user"></i> Trang cá nhân
                                </div>
                            </button>
                        </a>
                    </li>
                    <li class="header__navbar-item " style="margin: 0">
                        <form action="/dang-xuat?_method=DELETE" method="POST">
                            <button type="submit" class="button">
                                <div class="header__navbar-name" style="margin: 0;">
                                    <i class="fa-solid fa-user"></i> Đăng xuất
                                </div>
                            </button>
                        </form>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="container">
            <div class="container__schedule">
                <div class="schedule__row">
                    <div class="schedule__header">Tiết</div>
                    <div class="schedule__header">Thứ 2</div>
                    <div class="schedule__header">Thứ 3</div>
                    <div class="schedule__header">Thứ 4</div>
                    <div class="schedule__header">Thứ 5</div>
                    <div class="schedule__header">Thứ 6</div>
                </div>
                <div class="schedule__row">
                    <div class="shedule__row-element shift">
                        1
                    </div>
                    <div class="shedule__row-element">
                        <input type="text" class="shedule__row-element-input" class="subject" readonly selecte disabled>
                    </div>
                    <div class="shedule__row-element">
                        <input type="text" class="shedule__row-element-input" class="subject" readonly selecte disabled>
                    </div>
                    <div class="shedule__row-element">
                        <input type="text" class="shedule__row-element-input" class="subject" readonly selecte disabled>
                    </div>
                    <div class="shedule__row-element">
                        <input type="text" class="shedule__row-element-input" class="subject" readonly selecte disabled>
                    </div>
                    <div class="shedule__row-element">
                        <input type="text" class="shedule__row-element-input" class="subject" readonly selecte disabled>
                    </div>
                </div>
                <div class="schedule__row">
                    <div class="shedule__row-element shift">
                        2
                    </div>
                    <div class="shedule__row-element">
                        <input type="text" class="shedule__row-element-input" class="subject" readonly selecte disabled>
                    </div>
                    <div class="shedule__row-element">
                        <input type="text" class="shedule__row-element-input" class="subject" readonly selecte disabled>
                    </div>
                    <div class="shedule__row-element">
                        <input type="text" class="shedule__row-element-input" class="subject" readonly selecte disabled>
                    </div>
                    <div class="shedule__row-element">
                        <input type="text" class="shedule__row-element-input" class="subject" readonly selecte disabled>
                    </div>
                    <div class="shedule__row-element">
                        <input type="text" class="shedule__row-element-input" class="subject" readonly selecte disabled>
                    </div>
                </div>
                <div class="schedule__row">
                    <div class="shedule__row-element shift">
                        3
                    </div>
                    <div class="shedule__row-element">
                        <input type="text" class="shedule__row-element-input" class="subject" readonly selecte disabled>
                    </div>
                    <div class="shedule__row-element">
                        <input type="text" class="shedule__row-element-input" class="subject" readonly selecte disabled>
                    </div>
                    <div class="shedule__row-element">
                        <input type="text" class="shedule__row-element-input" class="subject" readonly selecte disabled>
                    </div>
                    <div class="shedule__row-element">
                        <input type="text" class="shedule__row-element-input" class="subject" readonly selecte disabled>
                    </div>
                    <div class="shedule__row-element">
                        <input type="text" class="shedule__row-element-input" class="subject" readonly selecte disabled>
                    </div>
                </div>
            </div>
        </div>
</body>